        body {
            /* Параметри батьківського контейнеру body */
            font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif; /*Параметри шрифта*/
            text-align: justify; /*Параметри позиціонування теесту всреедені контейнеру*/
        }

        .left {
            float: left; /*Позиціонування лівого контейнеру*/
            width: 68%; /*Ширина лівого контейнеру задана 
            у відсотках від ширини батьківського контейнеру у якому він знаходиться*/
            background-color: tomato; /*Фоновий колір лівого контейнеру*/
            border-radius: 10px; /*Радіус скруглення кутів лівого контейнеру заданий у відсотках*/
            padding: 1%; /*Внутрішній відступ, для вирівнювання тексту з усіх сторін*/

            /*Параметри тіні рамки контейнеру*/
            -webkit-box-shadow: 20px 20px 18px 1px rgba(34, 60, 80, 0.38);
            -moz-box-shadow: 20px 20px 18px 1px rgba(34, 60, 80, 0.38);
            box-shadow: 20px 20px 18px 1px rgba(34, 60, 80, 0.38);
        }

        .right {
            float: right; /*Позиціонування правого контейнеру*/
            width: 27%; /*Ширина правого контейнеру задана 
            у відсотках від ширини батьківського контейнеру у якому він знаходиться*/
            background-color: #5cece8; /*Фоновий колір правого контейнеру*/
            border-radius: 10px; /*Радіус скруглення кутів правого контейнеру заданий у відсотках*/
            padding: 1%; /*Внутрішній відступ, для вирівнювання тексту з усіх сторін*/

            /*Параметри тіні рамки контейнеру*/
            -webkit-box-shadow: 20px 20px 18px 1px rgba(34, 60, 80, 0.38);
            -moz-box-shadow: 20px 20px 18px 1px rgba(34, 60, 80, 0.38);
            box-shadow: 20px 20px 18px 1px rgba(34, 60, 80, 0.38);
        }

        ul {
            padding-left: 0; /*Цей стиль прибирае відступ за замовчуванням для елементів списку*/
        }

        .list1 { /*Стиль для елементів списку, який робить відступ знизу. Заданий у відсотках.*/ 
            margin-bottom: 1%;
            list-style-type: none; /*Стиль, який приховує маркери списку*/
        }

        h2 {
            text-transform: uppercase; /*Стиль тексту, якрий переводить текст у верхній регистр*/
        }

/*Стилі для зображень, які визначають ширину зображення. Висота рахується автоматично.*/

        .lan1,
        .lan2,
        .lan3 {
            width: 30%;
        }

        .lan4 {
            width: 100%;
        }